
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    box-sizing: border-box;
    font-family: Oswald;
}

html,body {
    margin: 0;
    padding: 0;
}

.main-header{
    background-color: black;
    background-size: cover;
    padding-bottom: 30px;
}
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    color: white;
    padding: 1%;
}

.main-nav li {
    padding: 2%;
}

.nav a {
    display: inline-block;
    padding: .5em;
    pointer-events: none;
}

.main-nav {
    text-align: right;
    font-size: 18px;
}

.about-content-section {
    margin: 2px;
    padding: 20px;
}

.myWork {
    padding: 20px;
}
.workGrid {
    display: flex;
    column-gap: 20px;
}

.myWork1, .myWork2, .myWork3 {
    width: 33%;
    padding: 20px;
    margin: 20px;
}

.skillsGrid {
    display: flex;
}

.mySkills1, .mySkills2, .mySkills3, .mySkills4 {
    width: 25%;
    padding: 20px;
    margin: 20px;
}

img{
    width: 300px
}
   
.footer {
    display: flex;
    position: bottom;
    justify-content: center;
    align-items: center;
    background: black;
    height: 50px;
    padding-top: 20px;
    width: cover;
  }
  
.footer a {
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
.ig {
    color: skyblue;
  }
  
.fb {
    color:skyblue;
}
  
.gh {
    color: skyblue;
}

.li {
    color: skyblue;
}
  