
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    box-sizing: border-box;
    font-family: Oswald;
}

html,body {
    margin: 0;
    padding: 0;
}

.main-header{
    background-color: black;
    background-size: cover;
    padding-bottom: 30px;
}
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    color: white;
    padding: 1%;
}

.main-nav li {
    padding: 2%;
}

.nav a {
    display: inline-block;
    padding: .5em;
    pointer-events: none;
}

.main-nav {
    text-align: right;
    font-size: 18px;
}

.about-content-section {
    margin: 2px;

}

.container {
    max-width: 900px;
    margin: 0 auto;
}

img{
    width: 300px
}
   
.footer {
    display: inline-block;
    position: bottom;
    justify-content: center;
    align-items: center;
    background: black;
    height: 50px;
    padding-top: 20px;
    width: 1250px;
  }
  
.footer a {
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
.ig {
    color: skyblue;
  }
  
.fb {
    color:skyblue;
}
  
.gh {
    color: skyblue;
}

.li {
    color: skyblue;
}
  